body {
    font-family: Arial, sans-serif;
    background-color: #1b3926;
    color: #ddeedf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 40px;
    background-color: #91c49d;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    header .logo {
        max-width: 150px;
    }
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1b3926;
}

.content {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #1b3926;
    text-align: justify;
}

.vision, .bridge {
    font-weight: 700;
    margin-top: 20px;
    color: #1b3926;
}

a {
    color: #0000ff;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b3926;
    color: #ddeedf;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0f261a;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #1b3926;
}

footer .disclaimer {
    font-size: 0.7em;
    color: #666;
    margin-top: 10px;
}
